* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
}

.button {
  font-weight: bold !important;
  padding: 16px 16px !important;
  height: 100% !important;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}

#logoutDialogBtns {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.standardDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 250px;
  gap: 40px;
}

.appContainer {
  display: flex;
}

.content {
  padding: 20px;
  width: 100%;
}

.content.withNavBar {
  margin-left: 60px; /* Samma bredd som navbaren */
  width: calc(100% - 60px); /* Justera bredden på innehållet */
}

.homeWrapper,
.customersWrapper,
.mailingWrapper,
.settingsWrapper {
  display: flex;
  flex-direction: column;
  width: 90vw !important;
  height: 90vh !important;
  margin-left: 20px;
}

.pageHeader {
  /* font-size: 3rem; */
  color: #dc2e34;
  /* font-weight: 500; */
  margin-bottom: 20px !important;
  text-transform: uppercase;
  align-self: flex-start;
}

.content.withNavBar {
  margin: 0;
}

#toolbarPaper {
  margin-bottom: 40px;
}

#mailingPaper,
#tablePaper {
  height: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
}

#customerFilter {
  display: flex;
  align-items: center;
  gap: 16px;
}

#mailControls {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

#beeEditor {
  height: 100%;
} 