* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.appContainer {
  overflow-y: auto !important;
  display: flex;
}
.button {
  font-weight: bold !important;
  padding: 16px 16px ;
  /* height: 100%; */
}

.clockAdjustBtn {
  padding: 1px 1px !important;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}

#logoutDialogBtns {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.standardDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 300px;
  gap: 40px;
}

.content {
  padding: 20px;
  width: 100%;
}

.content.withNavBar {
  margin-left: 60px; /* Samma bredd som navbaren */
  width: calc(100% - 60px); /* Justera bredden på innehållet */
}

.homeWrapper,
.customersWrapper,
.mailingWrapper,
.settingsWrapper {
  display: flex;
  flex-direction: column;
  width: 90vw !important;
  height: 90vh !important;
  margin-left: 20px;
}

.pageHeader {
  /* font-size: 3rem; */
  color: #dc2e34;
  /* font-weight: 500; */
  margin-bottom: 20px !important;
  text-transform: uppercase;
  align-self: flex-start;
}

.content.withNavBar {
  margin: 0;
}

#toolbarPaper {
  margin-bottom: 40px;
}

#mailingPaper {
  height: 100%;
}

#mailingPaper,
#tablePaper {
  max-height: 100%;
}

.nextMatchPDiv {
  display: flex;
  flex-direction: column;
  wrap: nowrap;
}

.tableContainer, .settingsContainer {
  max-height: 100%;
  overflow: auto; /* Lägg till overflow: auto för att möjliggöra scrollning */
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer tbody {
  display: block;
  max-height: 100%; /* Justera denna höjd efter behov */
  overflow: auto; /* Lägg till overflow: auto för att möjliggöra scrollning inom tbody */
}

.tableContainer thead,
.tableContainer tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
}

#customerFilter {
  display: flex;
  align-items: center;
  gap: 16px;
}

#mailControls {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

#beeEditor {
  height: 100%;
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .homeWrapper,
  .customersWrapper,
  .mailingWrapper,
  .settingsWrapper {
    width: 80vw !important;
    height: 45vh !important;
  }

  .content.withNavBar {
    margin-left: 10px;
    width: calc(100% - 10px);
  }
}